/* 共用 */

* {
    font-family: 'Segoe UI';
    list-style-type: none;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 100%;
    position: fixed;
}

.border {
    width: 980px;
    height: 6000px;
    border:solid 1px !important;
    color: #026332 !important;
}

