/* 共用 */

* {
    font-family: 'Segoe UI';
    list-style-type: none;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 100%;
    position: fixed;
}

.border {
    width: 880px;
    height: 1000px;
    border:solid 2px !important;
    color: #cc5709 !important;
}

